html {
  font-size: 25px;
}

body {
  font-family: "Dongle", "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.container {
  flex-grow: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
