.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .main-box {
    flex-direction: column;
  }
  .mypage-box {
    margin-top: 10px;
  }
}

.profile-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #abcded;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  margin-right: 15px;
}

.profile-box img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 16px;
}

.follow-list {
  color: #8e8e8e;
}

.follow-list button {
  background-color: transparent;
  border: 0;
  color: #8e8e8e;
}

.follow-list button:hover,
.follow-list button:active {
  background-color: transparent;
  border: 0;
  color: #abcded;
}

.modal-body {
  min-height: 50px;
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friend-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.friend-info-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

.friend-box button {
  color: white;
  background-color: #abcded;
  border: 3px solid #abcded;
  border-radius: 5px;
  padding: 5px;
}

.account-update-buttons button {
  color: white;
  background-color: #abcded;
  border: 3px solid #abcded;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
}

.mypage-box {
  max-width: 800px;
  width: 100%;
}

.mypage-box-header {
  display: flex;
}

.mypage-box-header button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.mypage-box-buttons {
  border: 3px solid #abcded;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  text-align: center;
  width: 100px;
}

.mypage-box-body {
  border: 3px solid #abcded;
  border-radius: 0 10px 10px;
  padding: 20px;
}

.shared-posts-box {
  display: flex;
  overflow-x: scroll;
}

.shared-posts-box a {
  text-decoration: none;
}

.shared-posts-box .card {
  width: 150px;
  margin-right: 5px;
}

.shared-posts-box .card .card-body {
  padding: 5px;
}

.box-1 {
  margin-bottom: 15px;
}

.friend-search {
  display: flex;
}

.friend-search button {
  width: 100px;
  color: white;
  background-color: #abcded;
  border: 3px solid #abcded;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
}

.friend-search-results {
  margin-top: 15px;
  width: 100%;
}
