.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #abcded;
  border-radius: 10px;
  padding: 20px;
  width: 15rem;
  text-align: center;
  margin-right: 15px;
}

.profile-box img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  margin-bottom: 16px;
}

.follow-list {
  color: #8e8e8e;
}

.follow-list button {
  background-color: transparent;
  border: 0;
  color: #8e8e8e;
}

.follow-list button:hover,
.follow-list button:active {
  background-color: transparent;
  border: 0;
  color: #abcded;
}

.modal-body {
  min-height: 50px;
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friend-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.friend-info-box img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0 5px 0 0;
}

.friend-box button {
  color: white;
  background-color: #abcded;
  border: 3px solid #abcded;
  border-radius: 5px;
  padding: 1px 10px;
}

.account-update-buttons button {
  color: white;
  background-color: #abcded;
  border: 3px solid #abcded;
  border-radius: 5px;
  padding: 1px 10px;
  margin: 5px;
}

.mypage-box {
  max-width: 32rem;
  width: 100%;
}

.mypage-box-header {
  display: flex;
}

.mypage-box-header button {
  background-color: transparent;
  border: 0;
  padding: 0;
}

.mypage-box-buttons {
  border: 3px solid #abcded;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  padding: 1px 10px;
  text-align: center;
  width: 100px;
}

.mypage-box-body {
  border: 3px solid #abcded;
  border-radius: 0 10px 10px;
  padding: 20px;
}

.shared-posts-box {
  display: flex;
  overflow-x: scroll;
}

.shared-posts-box a {
  text-decoration: none;
}

.shared-posts-box .card {
  width: 6rem;
  margin-right: 5px;
}

.shared-posts-box .card .card-body {
  padding: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.175);
}

.shared-posts-box .post-list {
  display: none;
}

.box-1 {
  margin-bottom: 15px;
}

.friend-search {
  display: flex;
}

.friend-search button {
  width: 20%;
  color: white;
  background-color: #abcded;
  border: 3px solid #abcded;
  border-radius: 5px;
  padding: 1px 10px;
  margin-left: 5px;
}

.friend-search-results {
  margin-top: 15px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .main-box {
    flex-direction: column;
  }
  .mypage-box {
    margin-top: 10px;
  }

  .shared-posts-box .card {
    display: none;
  }

  .shared-posts-box .post-list {
    display: block;
  }

  .shared-posts-box {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: scroll;
  }

  .shared-posts-box a {
    text-decoration: none;
    color: #000000;
    width: 100%;
  }

  .box-1,
  .box-2 {
    max-height: 300px;
  }
}
