nav {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-left a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
}

.navbar-left img {
  width: 60px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  text-decoration-line: none;
  margin-right: 10px;
}

.buttons {
  color: white;
  background-color: #abcded;
  border: 3px solid #abcded;
  border-radius: 5px;
  padding: 5px;
}

.dropdown-toggle {
  background-color: transparent;
  border: 0;
  padding: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.dropdown-menu.show {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown-menu form {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
}

.mark-as-read-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: auto;
  font-size: 0.8rem;
}
