.main-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
}

.signup-form {
  border: 3px solid #abcded;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 500px;
}

.signup-form label {
  width: 100%;
}

.signup-form label input {
  width: 100%;
}

.duplicate-message,
.mismatch-message {
  display: inline-block;
  margin-left: 5px;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.preview {
  display: none;
  height: 200px;
}

.signup-form button {
  width: 100%;
  color: white;
  background-color: #abcded;
  border: 3px solid #abcded;
  border-radius: 5px;
  padding: 5px;
}

.main-box a {
  margin-top: 15px;
  text-decoration-line: none;
  color: black;
}
