.MainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: bold;
}

.UpdateForm {
  border: 3px solid #abcded;
  border-radius: 10px;
  padding: 20px;
  width: 450px;
}

.ImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.Preview_1,
.Preview_2 {
  height: 200px;
}

.UpdateForm button {
  width: 100%;
  color: white;
  background-color: #abcded;
  border: 3px solid #abcded;
  border-radius: 5px;
  padding: 5px;
}

.MainBox a {
  margin-top: 15px;
  text-decoration-line: none;
  color: black;
}
