{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/password_change.css" %}">
{% endblock style %}

{% block content %}
  <div class="main-box">
    <h2>비밀번호 변경</h2>
    <div class="password-change-form">
      <form action="{% url "accounts:password_change" %}" method="POST">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">비밀번호 변경</button>
      </form>
    </div>
    <a href="{% url "posts:main" %}">⬅️ 돌아가기</a>
  </div>
{% endblock content %}
