{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/password_change.css" %}">
{% endblock style %}

{% block content %}
  <div class="main-box">
    <h2>비밀번호 변경</h2>
    <div class="password-change-form">
      <form action="{% url "accounts:password_change" %}" method="POST">
        {% csrf_token %}
        {% for inputs in form %}
          {% if inputs.name == "new_password2" %}
            <label>{{inputs.label}}
              <span id="passwordMismatchMessage" class="mismatch-message"></span>
              <p id="inputs">{{inputs}}</p>
            </label>
          {% else %}
            <label>{{inputs.label}}
              <p id="inputs">{{inputs}}</p>
            </label>
          {% endif %}
        {% endfor %}
        <button type="submit">비밀번호 변경</button>
      </form>
    </div>
    <a href="{% url "accounts:mypage" %}">⬅️ 돌아가기</a>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static "js/password_change.js" %}"></script>
{% endblock js %}