{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/signup.css" %}">
{% endblock style %}

{% block content %}
  <div class="main-box">
    <h2>회원가입</h2>
    <p>* 표시 항목은 필수 입력 항목입니다.</p>
    <div class="signup-form">
      <form action="{% url "accounts:signup" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for inputs in form %}
          {% if inputs.name == "username" %}
            <label>{{inputs.label}}
              <span id="username-length-count"></span>
              <span id="username-message" class="duplicate-message"></span>
              <p id="inputs">{{inputs}}</p>
            </label>
          {% elif inputs.name == "nickname" %}
            <label>{{inputs.label}}
              <span id="nickname-length-count"></span>
              <span id="nickname-message" class="duplicate-message"></span>
              <p id="inputs">{{inputs}}</p>
            </label>
          {% elif inputs.name == "password2" %}
            <label>{{inputs.label}}
              <span id="passwordMismatchMessage" class="mismatch-message"></span>
              <p id="inputs">{{inputs}}</p>
            </label>
          {% elif inputs.name == "profile_img" %}
            <label for="id_profile_img">{{inputs.label}}
              <input type="file" name="profile_img" id="id_profile_img" accept="image/*" onchange="previewImage(this)">
            </label>
          {% else %}
            <label>{{inputs.label}}
              <p id="inputs">{{inputs}}</p>
            </label>
          {% endif %}
          <br>
        {% endfor %}
        <div class="image-box">
          <img class="preview" src="#" alt="프로필 이미지 미리보기">
        </div>
        <button type="submit">회원가입</button>
      </form>
    </div>
    <a class="back-button" href="{% url "accounts:login" %}">
      <i class="fa-solid fa-arrow-left"></i>돌아가기
    </a>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static "js/signup.js" %}"></script>
  <script>
    {% if messages %}
      {% for message in messages %}
        alert("{{ message }}")
      {% endfor %}
    {% endif %}
  </script>
{% endblock js %}