{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/update.css" %}">
{% endblock style %}

{% block content %}
  <div class="main-box">
    <h2>회원정보 수정</h2>
    <p>* 표시 항목은 필수 입력 항목입니다.</p>
    <div class="update-form">
      <form action="{% url "accounts:update" %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for inputs in form %}
          {% if inputs.label != "비밀번호" %}
            {% if inputs.name == "nickname" %}
              <label>{{inputs.label}}
                <span id="length_count" class="length_count"></span>
                <span id="nickname-message" class="duplicate-message"></span>
                <p id="inputs">{{inputs}}</p>
              </label>
            {% else %}
            <label>{{inputs.label}}
              <p id="inputs">{{inputs}}</p>
            </label>
            {% endif %}
          {% endif %}
        {% endfor %}

        <div class="image-box">
          {% if request.user.profile_img %}
            <img class="preview-1" src={{ request.user.profile_img.url }} alt="프로필 이미지 미리보기">
          {% else %}
            <img class="preview-2" src="#" alt="프로필 이미지 미리보기">
          {% endif %}
        </div>
        <button id="update-button" type="submit">회원정보 수정</button>
      </form>
    </div>
    <a class="back-button" href="{% url "accounts:mypage" %}">
      <i class="fa-solid fa-arrow-left"></i>돌아가기
    </a>
  </div>
{% endblock content %}


{% block js %}
  <script>const currentUserNickname = "{{ request.user.nickname }}";</script>
  <script src="{% static "js/update.js" %}"></script>
{% endblock js %}