{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/create.css" %}">
{% endblock style %}

{% block content %}
  <div class="main-box">
    <h2>일기 작성</h2>
    <div class="create-form">
      <form action="{% url "posts:create" date %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for inputs in form %}
          {% if inputs.name == "post_img" %}
            <label for="id_post_img">{{inputs.label}}
              <input type="file" name="post_img" id="id_post_img" accept="image/*" onchange="previewImage(this)">
            </label>
          {% else %}
            <label>{{inputs.label}}
              <p id="inputs">{{inputs}}</p>
            </label>
          {% endif %}
          <br>
        {% endfor %}
        <div class="image-box">
          <img class="preview" src="#" alt="프로필 이미지 미리보기">
        </div>

        <div class="form-check form-switch public-check">
          <label class="form-check-label" for="public">공유(서로 친구일 때만 가능)</label>
          <input class="form-check-input" type="checkbox" role="switch" id="public" name="public">
        </div>

        <div class="friend-check">
          {% for friend in friends %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="shared_with" value="{{ friend.id }}" id="friend{{ friend.id }}">
              <label class="form-check-label" for="friend{{ friend.id }}">
                {% if friend.profile_img %}
                  <img src="{{ friend.profile_img.url }}" alt="프로필 이미지">
                {% else %}
                  <img src="{% static "img/user.png" %}" alt="기본 프로필 이미지">
                {% endif %}
                <div>
                  {{ friend.nickname }} ({{ friend.username }})
                </div>
              </label>
            </div>
          {% endfor %}
        </div>

        <button type="submit">작성하기</button>
      </form>
    </div>
    <a href="{% url "posts:main" %}">⬅️ 돌아가기</a>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static "js/create.js" %}"></script>
{% endblock js %}