{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/detail.css" %}">
{% endblock style %}

{% block content %}
  <div class="main-box">
    <div class="post-box">
      <h1>{{ post.title }}</h1>
      <div class="post-info-box">
        <div class="post-public-nickname">
          {% if post.shared_with.count > 0 %}
            <span class="public">공유중</span>
          {% else %}
            <span class="private">비공개</span>
          {% endif %}
          <span class="post-user-nickname">{{ post.user.nickname }}</span>
        </div>
      </div>
      <hr>
      {% if request.user == post.user %}
        <div class="post-buttons">
          <a class="update-button" href="{% url 'posts:update' post.pk %}"><i class="fa-solid fa-pen-to-square"></i> 수정</a>
          <form class="delete-form" action="{% url "posts:delete" post.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit"><i class="fa-solid fa-trash-can"></i> 삭제</button>
          </form>
        </div>            
      {% endif %}

      {% if post.post_img %}
        <div class="post-image">
          <img src="{{ post.post_img.url }}" alt="일기 사진">
        </div>
      {% endif %}

      <div class="post-content">
        {{ post.content }}
      </div>

      <div class="comment-writing-box">
        <form method="POST" action="{% url "posts:comment_create" post.pk %}">
          {% csrf_token %}
          <div class="comment-content-box">
            {{ form.content }}
            <button type="submit">댓글달기</button>
          </div>
        </form>
      </div>

      {% if comments.count > 0 %}
        <div class="accordion accordion-flush">
          <div class="accordion-item">
            <div class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                댓글({{ comments.count }})
              </button>
            </div>
            
            {% for comment in comments %}
              <div id="collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <div class="comment-detail-box">
                    <div class="comment-writer-info">
                      {% if comment.user.profile_img %}
                        <img src="{{ comment.user.profile_img.url }}" alt="프로필 이미지">
                      {% else %}
                        <img src="{% static "img/user.png" %}" alt="기본 프로필 이미지">
                      {% endif %}
                      <div class="comment-nickname-date">
                        <div>{{ comment.user.nickname }}</div>
                        <div class="comment-date">{{ comment.created_at|date:"Y-m-d, H:i" }}</div>
                      </div>
                    </div>
                    <div class="comment-buttons">
                      {% if request.user == comment.user %}
                        <a class="comment-update-button" href="#" data-comment-id="{{ comment.pk }}">
                          <i class="fa-solid fa-pen-to-square"></i> 수정
                        </a>
                        <form class="delete-form" action="{% url "posts:comment_delete" post.pk comment.pk %}" method="POST">
                          {% csrf_token %}
                          <button><i class="fa-solid fa-trash-can"></i> 삭제</button>
                        </form>
                      {% endif %}
                    </div>
                  </div>
                  <div class="comment-content">
                    {{ comment.content }}
                  </div>
                  <div class="update-comment-form-box">
                    <form action="{% url "posts:comment_update" post.pk comment.pk %}" method="POST" class="update-comment-form" id="update-comment-form-{{ comment.pk }}" data-comment-id="{{ comment.pk }}">
                      {% csrf_token %}
                      <textarea class="update-comment-content form-control form-field" name="content" required>{{ comment.content }}</textarea>
                      <button type="submit">수정</button>
                    </form>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
    <a class="back-button" href="{% url "posts:main" %}">⬅️ 돌아가기</a>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static "js/detail.js" %}"></script>
{% endblock js %}