{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock style%}

{% block content %}
  <div class="main-box">
    <header>
      <h1>일기 달력</h1>
      <select id="year" onchange="updateCalendar()"></select>
      <select id="month" onchange="updateCalendar()"></select>
    </header>
  
    <div class="calendar">
      <div class="month" id="currentMonth"></div>
      <div class="days" id="calendarDays"></div>
    </div>
  </div>
{% endblock content %}

{% block js %}
  <script>const userPk = {{ request.user.pk }};</script>
  <script src="{% static "js/main.js" %}"></script>
{% endblock js %}