{% extends "base.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock style%}

{% block content %}
  <header>
    <h2>일기 달력</h2>
    <label for="month">월</label>
    <select id="month" onchange="updateCalendar()"></select>

    <label for="year">년도</label>
    <select id="year" onchange="updateCalendar()"></select>
  </header>

  <div class="calendar">
    <div class="month" id="currentMonth"></div>
    <div class="days" id="calendarDays"></div>
  </div>
{% endblock content %}

{% block js %}
  <script src="{% static "js/main.js" %}"></script>
{% endblock js %}